body{
    box-sizing: border-box;
    padding: 0 30px;
    margin: none;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 40px 10px 0;
    align-items: center;

    .buttons{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .logIn{
        background-color: #06942A33;
        width: 161px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #06942A;
        border-radius: 45px;

    }

}
.links{
    display: flex;
    gap: 10px;
}
.hero{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 30px;
    background-image: linear-gradient(150deg, #06942A33 70%, #ffffff33 30% ) ;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #06942A33;

    input{
        width: 400px;
        height: 30px;
        border-radius: 50px;
        border: none;
        padding: 10px;
    }
}

.recommendedJobs{
    display: flex;
    gap: 2%;
    
}
.jobsContainer{
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 275px;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    border: 1px solid rgb(207, 203, 203);

    button{
        width: 80px;
        height: 30px;
        background-color: #06942A33;
        color: #06942A;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
}

.jobsHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(188, 183, 183);
    height: 80%;
}
.googleImage{
    width: 20px;
    height: 20px;

    img{
        max-width: 100%;
        max-height: 100%;
    }
}

.image{
    width: 70px;
    height: 15px;
    box-sizing: border-box;

    img{
        max-width: 100%;
        max-height: 100%;
    }
}

.location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 100%;
}
.workContainer{
    margin: 80px 20px;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
}

.verticalImages{
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-sizing: border-box;
    
    img{
        max-width: 100%;
        height: 100%;
    }
}

.centerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.popularHeader{
    text-align: center;
}

.popularContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.popularCard{
    width: 296px;
    height: 275px;
    border: 1px solid rgb(215, 214, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 2%;
    

    div{
        background-color: rgb(178, 173, 173);
        width: 35%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        img{
            max-width: 70%;
            max-height: 70%;
        }
        
    }
}
.popularName{
    font-weight: bold;
    margin-bottom: 0;
}
.popularInfo{
    color: rgb(86, 82, 82);
    
}
.adContainer{
    display:flex;
    box-sizing: border-box;
    margin: 40px 0;
    height: 400px;
    width: 100%;
    gap: 30%;
    background-color: #06942A33;
    padding: 50px;
}
.adText{
    width: 70%;
    font-weight: 1rem;
}

.learnMore{
    margin-top: 15%;
    color: rgb(27, 191, 27);
}
.adImage{
    width: 50%;

    img{
        max-height: 100%;
        max-width: 100%;
    }
}

.customerDetails{
    display: flex;
    gap: 10%;
    align-items: center;

    .infoText{
        width: 500px;
    }

    .nameText{
        font-weight: bolder;
    }

    .titleText{
        color: grey;
    }
}

.promoImage{
    box-sizing: border-box;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.footerContainer{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;

    .footerImage{
        width: 68px;
        height: 68px;
        margin-bottom: 0;
        box-sizing: border-box;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .footerIcon{
        display: flex;
        flex-direction: column;
        width: 150px;

        p{
            color: rgb(70, 70, 70);
        }
    }

    .footerSection{
        display: flex;
        flex-direction: column;

        .footerHeader{
            font-weight: bolder;
        }

        .footerItem{
            color: rgb(70, 70, 70);
            margin: 5px;
        }
    }
 
}
.iconContainer{
    display: flex;
}

.copyright{
    color:  rgb(70, 70, 70);
    text-align: center;
    margin-top: 60px;
}